

<h1 style="text-align: center; color: green;">Liste Des Zones</h1>
<div class="zone-list-container">
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let zone of zones">
        <td>{{ zone.nom }}</td>
        <td>{{ zone.latitude }}</td>
        <td>{{ zone.longitude }}</td>
        <td>
          <button class="btn btn-spacing" (click)="onEdit(zone._id)">modifier</button>
          <button class="btn" (click)="onDelete(zone._id)">supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

