.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  // Styling for the headings
  h2 {
    color: #333;
    text-align: center;
    margin: 20px 0;
  }

  // Styling for labels
  label {
    display: block;
    margin-bottom: 5px;
    color: #707070;
    font-weight: bold;
  }

  // Styling for the selects, buttons, and input
  select, button, input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 15px;
    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }

  // Styling for the search-panel
  .search-panel {
    display: flex;
    align-items: center;
    margin-top: 20px;

    select {
      flex: 1 0 auto;
    }

    input[type="text"] {
      flex: 2 0 auto;
    }

    button {
      background-color: #007bff;
      border-color: #007bff;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }
    }
  }

  // Styling for the table
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
      text-align: left;
      padding: 15px;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    // Styling for the buttons
    .btn {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &.btn-warning {
        background-color: #05750a;
        color: white;
        &:hover {
          background-color: #066a0b;
        }
      }

      &.btn-danger {
        background-color: #115205;
        color: white;
        margin-left: 10px;
        &:hover {
          background-color: #0b5805;
        }
      }
    }
  }
}
