table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: underline;
    background-color: #4CAF50;
    color: white;
  }
  
  button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    &:first-child {
      background-color: #4CAF50; // Edit button
      color: white;
    }
  
    &:last-child {
      background-color: #f44336; // Delete button
      color: white;
    }
    
    &:hover {
      opacity: 0.8;
    }
  }
  