<h1 style="color: black; text-align: center;">create type</h1>
<form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nom">Name:</label>
    <input id="nom" type="text" formControlName="nom" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input id="description" type="text" formControlName="description" class="form-control">
  </div>

  <button type="submit" [disabled]="typeForm.invalid" class="btn btn-primary">Submit</button>
</form>
