<div class="container mt-5">
  <h2>Modifier l'appel d'offre</h2>

  <form [formGroup]="offreForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="mb-3">
      <label for="titre" class="form-label">Titre :</label>
      <input type="text" formControlName="titre" id="titre" class="form-control">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description :</label>
      <textarea formControlName="description" id="description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
      <label for="dateDebut" class="form-label">Date de début :</label>
      <input type="date" formControlName="dateDebut" id="dateDebut" class="form-control">
    </div>

    <div class="mb-3">
      <label for="dateFin" class="form-label">Date de fin :</label>
      <input type="date" formControlName="dateFin" id="dateFin" class="form-control">
    </div>

    <div class="mb-3">
      <label for="statut" class="form-label">Statut :</label>
      <input type="text" formControlName="statut" id="statut" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Mettre à jour</button>
  </form>
</div>
