<!-- reset-password.component.html -->
<div class="container">
  <h2>Réinitialisation de mot de passe</h2>
  <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
    <div class="form-group">
      <label for="email">Adresse e-mail</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="sendForgotPasswordEmail()">Envoyer l'e-mail de réinitialisation</button>
    </div>
    <div class="form-group">
      <label for="verificationCode">Code de vérification</label>
      <input type="text" id="verificationCode" name="verificationCode" [(ngModel)]="verificationCode" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="newPassword">Nouveau mot de passe</label>
      <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" class="form-control" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Réinitialiser le mot de passe</button>
    </div>
  </form>
</div>
