<div class="header bg-gradient pb-8 pt-5 pt-md-8">

</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-8 order-xl-1 center">
      <div class="card bg-secondary shadow">

        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <div class="form-group">
                <h3 class="mb-0">Invoice Details</h3>

                <!--
                  <div>
                    <button class="btn btn-primary btn-sm" (click)="printInvoice()">Print Invoice</button>
                  </div>
                -->

              </div>

            </div>
          </div>
          <hr>
        </div>

        <div class="pl-lg-4 bg-white">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Invoice Number:</strong> {{ data.invoiceNumber }}</p>
              <p><strong>Description:</strong> {{ data.description }}</p>
              <p><strong>TVA Percent:</strong> {{ data.tvaPerPercent }}%</p>
              <p><strong>Transfer Fee:</strong> {{ data.transferFee }}</p>
              <p><strong>Tax:</strong> {{ data.tax }}</p>
              <p><strong>Total Price:</strong> {{ data.totalPrice }}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Client Name:</strong> {{ data.clientName }}</p>
              <p><strong>Created At:</strong> {{ data.createdAt | date }}</p>
              <p><strong>User ID:</strong> {{ data.userId }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
