<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <h1>Liste des offres</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0 p-4">
  <ul *ngIf="offres && offres.length">
    <table class="table table-striped table-bordered table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Description</th>
          <th scope="col">Date Début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offre of offres">
          <td>{{ offre.titre}}</td>
          <td>{{ offre.description }}</td>
          <td>{{ offre.dateDebut | date }}</td>
          <td>{{ offre.dateFin | date }}</td>
          <td>{{ offre.statut }}</td>
          <td><i (click)="deleteOffre(offre._id)" class="fas fa-trash" title="supprimer"></i> &nbsp;
          <i (click)="updateOffre(offre._id)" class="bi bi-pencil-square" title="mettre à jour">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </i></td>
        </tr>
      </tbody>
    </table>
  </ul>

  <div *ngIf="offres && offres.length === 0">
    <p>Aucune offre disponible pour le moment.</p>
  </div>

  <div *ngIf="!offres">
    <p>Chargement des offres en cours...</p>
  </div>
</div>
</div>
</div>
</div>
