<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">

                  <h1 >La liste des candidatures inscrites à votre appel d'offre</h1>
                  </div>
                  </div>
                  </div>
                  </div>



  <div class="container-fluid mt--7">


    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Email</th>
                  <th scope="col">Numero</th>
                  <th scope="col">Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let candidat of candidats">
                  <td>{{ candidat.nom }}</td>
                  <td>{{ candidat.email }}</td>
                  <td>{{ candidat.numero }}</td>
                  <td>
                    <select (change)="updateCandidatStatut(candidat, $event.target.value)">
                      <option [value]="'En attente'" [selected]="candidat.statut === 'En attente'">En attente</option>
                      <option [value]="'Approuvé'" [selected]="candidat.statut === 'Approuvé'">Approuvé</option>
                      <option [value]="'Rejeté'" [selected]="candidat.statut === 'Rejeté'">Rejeté</option>
                    </select>
                  </td>
                  <td>
                    <button (click)="saveCandidat(candidat)">Enregistrer</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Affiche le message si aucune candidature n'est trouvée -->
    <p *ngIf="candidats && candidats.length === 0">Aucun candidat trouvé pour cette offre.</p>
  </div>
  <div *ngIf="!offer">
    <p>Chargement des détails de l'offre...</p>
  </div>
